@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@bl.lng.l.Page_not_found</title>

    <style type=text/css>
        body {
            text-align: center;
            padding-top: 30vh;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            color: black;
        }
    </style>
</head>

<body>

    <h1>404 - @bl.lng.l.Page_not_found.ToUpper() </h1>
    <p>
        @bl.lng.l.The_page_you_were_trying_to_access_was_not_found
    </p>
    <p>
        <a href="/">@bl.lng.l.Home @bl.lng.l.Page.ToLower()</a>
    </p>

</body>
</html>