
@{
    var user_id = bl.settings_current.user_id;
    var user_db = bl.users.user_get(user_id).Rows[0];
    var booking_engine_db = bl.booking_engine.get_by_user_id(user_id).Rows[0];
    var users_text = bl.users_texts.get(user_id, bl.settings_current.language_id).Rows[0];

    var settings = bl.sys.json.obj(booking_engine_db["settings"].ToString());
    var share_buttons_show = (string)(settings["share_buttons_show"] ?? "N");

    var booking_settings_str = (string) System.Web.HttpContext.Current.Session["settings"];
    var booking_settings = bl.sys.json.obj(booking_settings_str);
    var lowest_price_guarantee = (string) booking_settings["lowest_price_guarantee"];

    var object_id = (string)(ViewData["object_id"] ?? "");

    if (object_id.IsEmpty()) {
        Response.Redirect("/");
    }

    // check if we have object_id
    if (string.IsNullOrWhiteSpace(object_id) == true)
    {
        Response.Redirect("/");
    }

    var date_from = (ViewData["date_from"] ?? System.DateTime.Now.ToString("yyyy-MM-dd")).ToString();
    var date_until = (ViewData["date_until"] ?? System.DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")).ToString();
    var adults = (ViewData["adults"] ?? "1").ToString();
    var pets = (ViewData["pets"] ?? "0").ToString();
    var promo_code = (ViewData["promo_code"] ?? "").ToString();

    var objects = (System.Data.DataTable) (ViewData["objects"]);
    System.Data.DataSet obj;

    if (objects != null && objects.Rows.Count > 0)
    {
        obj = new System.Data.DataSet();
        obj.Tables.Add(objects);
    }
    else
    {
        obj = bl.objects.get_all(object_id, bl.settings_current.language_id);
    }

    var persons = int.Parse(obj.Tables["realstate"].Rows[0]["can_sleep_max"].ToString());
    var pets_number = int.Parse(obj.Tables["realstate"].Rows[0]["pets_number"].ToString());
    if (pets_number < 1) {
        pets = "0";
    }

    ViewBag.Title = obj.Tables["general"].Rows[0]["name"].ToString();
    Layout = "~/Views/_Layout.cshtml";
}

<style>
    /* Override .bg-img with booking image */
    .bg-img {
        background: url('@booking_engine_db["picture_main_link"]') !important;
        background-position: center !important;
        background-size: cover !important;
    }

    .price_night_center {
        width: 100%;
        margin: 0 auto;
    }
</style>

<!-- banner -->
@Html.Partial("/Views/partal/header.cshtml", new ViewDataDictionary { { "page", "objects_list" }, { "title", users_text["title"].ToString() }, { "moto", users_text["moto"].ToString() }, { "header_display_title", booking_engine_db["header_display_title"].ToString() } })

<!-- Property details -->
<section class="section-rd">

    <div class="bg-img">
        <div class="container-wrapper">
            <div class="rd-title"> @obj.Tables["general"].Rows[0]["name"] </div>
        </div>
    </div>

    <div class="container-wrapper py-5">

        <div class="row">

            <!-- Property details -->
            <div class="col-lg-8">

                <!-- prices -->
                @*<table class="table" style="display: none;">
                    <thead>
                        <tr>
                            <th scope="col">Supplements</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Charge</th>
                            <th scope="col"></th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <img src="https://plus.unsplash.com/premium_photo-1675615649180-045cc3567554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2032&q=80" class="object_cover" style="height: 4rem; width: 10rem;" />
                                    <div>
                                        <div class="mb-1">Bed & Breakfast</div>
                                        <div>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</div>
                                    </div>
                                </div>
                            </td>
                            <th>18,00</th>
                            <td>per person/day</td>
                            <td>
                                <label for="example_cjenik_02" class="custom_radio mb-0">
                                    <input type="radio" id="example_cjenik_02" data-id="price_02" class="d-none" />
                                    <span class="icon_radio"></span>
                                </label>
                            </td>
                            <td>
                                <div class="dropdown" id="dropdown_adults" style="width: 5rem;">
                                    <i class="fas fa-user mr-4"></i>

                                    <div class="dropdown-toggle btn border" data-adult-id="1" type="text" id="dropdown_adults_id" data-toggle="dropdown" name="adults" style="padding-left: 30px !important;" contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="1">
                                        1
                                    </div>

                                    <div class="dropdown-menu w-100 rounded-0" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a data-id="1" class="dropdown-item">1</a>
                                        <a data-id="2" class="dropdown-item">2</a>
                                        <a data-id="3" class="dropdown-item">3</a>
                                        <a data-id="4" class="dropdown-item">4</a>
                                        <a data-id="5" class="dropdown-item">5+</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <img src="https://plus.unsplash.com/premium_photo-1675615649180-045cc3567554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2032&q=80" class="object_cover" style="height: 4rem; width: 10rem;" />
                                    <div>
                                        <div class="mb-1">Bed & Breakfast</div>
                                        <div>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</div>
                                    </div>
                                </div>
                            </td>
                            <th>18,00</th>
                            <td>per person/day</td>
                            <td>
                                <label for="example_cjenik_02" class="custom_radio mb-0">
                                    <input type="radio" id="example_cjenik_02" data-id="price_02" class="d-none" />
                                    <span class="icon_radio"></span>
                                </label>
                            </td>
                            <td>
                                <div class="dropdown" id="dropdown_adults" style="width: 5rem;">
                                    <i class="fas fa-user mr-4"></i>

                                    <div class="dropdown-toggle btn border" data-adult-id="1" type="text" id="dropdown_adults_id" data-toggle="dropdown" name="adults" style="padding-left: 30px !important;" contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="1">
                                        1
                                    </div>

                                    <div class="dropdown-menu w-100 rounded-0" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a data-id="1" class="dropdown-item">1</a>
                                        <a data-id="2" class="dropdown-item">2</a>
                                        <a data-id="3" class="dropdown-item">3</a>
                                        <a data-id="4" class="dropdown-item">4</a>
                                        <a data-id="5" class="dropdown-item">5+</a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>*@

                <!-- main title & description -->
                <div class="rd-description">

                    <!-- Propety details  -->
                    <div class="heading-title" style="font-size: 1.4rem; margin-top: 0px; padding-top: 0px;">@obj.Tables["general"].Rows[0]["name"]</div>
                    <div class="rd-description-short">
                        <div class="rd-description-short-label">
                            <span> @obj.Tables["realstate"].Rows[0]["can_sleep_max"]</span>&nbsp;@bl.lng.l.Guest
                        </div>
                        <div class="rd-description-short-line"></div>
                        <div class="rd-description-short-label">
                            <span>@obj.Tables["realstate"].Rows[0]["bedrooms"]</span>&nbsp;@bl.lng.l.Bedrooms
                        </div>
                        <div class="rd-description-short-line"></div>
                        <div class="rd-description-short-label">
                            <span>@obj.Tables["realstate"].Rows[0]["bathrooms"]</span>&nbsp;@bl.lng.l.Bathroom
                        </div>
                        <div class="rd-description-short-line"></div>
                        <div class="rd-description-short-label">
                            <span>@obj.Tables["realstate"].Rows[0]["floor"]</span>&nbsp;@bl.lng.l.Floor
                        </div>
                        <div class="rd-description-short-line"></div>
                        <div class="rd-description-short-label">
                            <span>@obj.Tables["realstate"].Rows[0]["space"]</span>&nbsp;@bl.lng.l.squared_meter_short
                        </div>
                    </div>
                </div>

                <!-- pictures -->

                @if (obj.Tables["pictures"].Rows != null && obj.Tables["pictures"].Rows.Count > 0) {
                    <div class="rd-carousel">
                        <!-- Pictures -->
                        <div id="rd-carouselControls" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <a href="https://api.zaggy.net/objects/picture_main/@object_id" data-toggle="lightbox" data-gallery="gallery" data-type="image">
                                        <img class="d-block w-100" src="https://api.zaggy.net/objects/picture_main/@object_id" alt="@obj.Tables["general"].Rows[0]["name"]">
                                    </a>
                                </div>

                                @foreach (System.Data.DataRow r in obj.Tables["pictures"].Rows) {
                                    
                                    if (r["main"].ToString() != "Y") {
                                        <div class="carousel-item">
                                            <a href="https://api.zaggy.net/object_picture/object_picture/@r["id"]" data-toggle="lightbox" data-gallery="gallery" data-type="image">
                                                <img class="d-block w-100" src="https://api.zaggy.net/object_picture/object_picture/@r["id"]" alt="@r["name"]">
                                            </a>
                                        </div>
                                     }
                                 }

                            </div>
                            <a class="carousel-control-prev" href="#rd-carouselControls" role="button"
                               data-slide="prev">
                                <div class="carousel-icon-left" aria-hidden="true">
                                    <i class="fas fa-chevron-left"></i>
                                </div>
                            </a>
                            <a class="carousel-control-next" href="#rd-carouselControls" role="button"
                               data-slide="next">
                                <div class="carousel-icon-right" aria-hidden="true">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                }


                @*<div class="rd-description">*@

                <!-- Description -->
                <div class="heading-title" style="margin-bottom: 15px;"> @bl.lng.l.Description </div>
                <div class="rd-description-text">
                    @Html.Raw(obj.Tables["description"].Rows[0]["description"])
                </div>

                <!-- Facilities -->
                @if (obj.Tables["facilities"] != null && obj.Tables["facilities"].Rows.Count > 0) 
                 {
                    <div style="display: none" class="rd-amenities">
                        <div class="heading-title"> @bl.lng.l.Amenites </div>
                        <div class="d-flex flex-wrap pt-3">

                            @if (obj.Tables["facilities"].Rows[0]["pets"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-dog"></i> &nbsp; @bl.lng.l.Pets</div>
                                </div>
                            } else if (obj.Tables["facilities"].Rows[0]["pets"].ToString() != "Y" && pets_number < 1) {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label text-danger"><i class="fas fa-dog"></i> &nbsp; @bl.lng.l.Pets_are_not_allowed </div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["wifi"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.WiFi</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["swimming_pool_indoor"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Swimming_pool_indoor</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["swimming_pool_shared"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Swimming_pool_shared</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["swimming_pool_outdoor"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Swimming_pool_outdoor</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["seaview"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                        <div class="rd-amenities-item-label">
                                            <i class="fas fa-check pr-2"></i>@bl.lng.l.Seaview
                                        </div>
                                </div>
                             }

                            @if (obj.Tables["facilities"].Rows[0]["terrace"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label">
                                        <i class="fas fa-check pr-2"></i>@bl.lng.l.Terrace
                                    </div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["tv_satelite"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label">
                                        <i class="fas fa-check pr-2"></i>@bl.lng.l.TV_satelite
                                    </div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["tv_lcd"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label">
                                        <i class="fas fa-check pr-2"></i>@bl.lng.l.LCD_TV
                                    </div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["air_conditioning"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Air_conditioning</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["luxurious"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Luxurious</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["near_country"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Near_country</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["near_city"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Near_city</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["near_beach"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Near_beach</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["in_city"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.In_city</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["in_country"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.In_country</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["parking"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Parking</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["sauna"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Sauna</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["gym"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Gym</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["separate_kitchen"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Separate_kitchen</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["heating"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Heating</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["towels"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Towels</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["linen"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Linen</div>
                                </div>
                            }

                            @if (obj.Tables["facilities"].Rows[0]["total_privacy"].ToString() == "Y") {
                                <div class="rd-amenities-item">
                                    <div class="rd-amenities-item-label"><i class="fas fa-check pr-2"></i>@bl.lng.l.Total_privacy</div>
                                </div>
                            }

                        </div>

                    </div>

                }

                <!-- Calendar -->
                <div class="rd-calendar pt-3 position-relative">

                    <span class="loading" id="div_loading_calendar_big" style="display: none;">
                        <img src="/assets/images/icons/Spinner.gif" alt="">
                    </span>

                    <div class="heading-title" style="display: none;"> @bl.lng.l.Guests </div>
                    <div style="display: none !important;" class="d-flex justify-content-between mt-2">
                        <div class="row m-0">
                            <div class="col-md-3 px-2">
                                <div class="form-group">
                                    <label class="mb-1">@bl.lng.l.Adults</label>
                                    <div class="position-relative">
                                        <span class="position-absolute position_Y_center ml-2">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <input type="tel" class="form-control border pl_8" value="@adults" id="input_adults">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 px-2">
                                <div class="form-group">
                                    <label class="mb-1">@bl.lng.l.Child</label>
                                    <div class="position-relative">
                                        <span class="position-absolute position_Y_center ml-2">
                                            <i class="fas fa-child"></i>
                                        </span>
                                        <input type="tel" class="form-control border pl_8" value="0" id="input_children">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 px-2">
                                <div class="form-group" style="display: @(pets_number > 0 ? "block" :"none");">
                                    <label class="mb-1">@bl.lng.l.Pets</label>
                                    <div class="position-relative">
                                        <span class="position-absolute position_Y_center ml-2">
                                            <i class="fas fa-paw"></i>
                                        </span>
                                        <input type="tel" class="form-control border pl_8" value="@pets" id="input_pets">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 px-2 d-flex flex-column-reverse">
                                <div class="form-group">
                                    <button class="btn btn-primary text-uppercase font_medium" style="width: 150px !important;" onclick="property.price_calculate();">@bl.lng.l.Apply_1</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="heading-title" id="div_panel_calendar"> @bl.lng.l.Availability </div>
                    <div class="rd-calendar-info py-2">
                        @bl.lng.l.Please_choose_dates_of_your_stay_in_calendar
                    </div>

                    <div id="rd-calendar" class="rd-calendar-datepicker"></div>
                    <div class="rd-calendar-status">
                        <ul>
                            <li><span class="available"></span> @bl.lng.l.Availability </li>
                            <li><span class="special-offer"></span> @bl.lng.l.Special_Offer </li>
                            <li><span class="not-available"></span> @bl.lng.l.Not_available </li>
                            <li><span class="selection"></span> @bl.lng.l.Selected </li>
                        </ul>
                    </div>

                    <!-- promo code -->
                    @if (booking_engine_db["promo_code"].ToString() == "Y") {
                        <div class="heading-title"> @bl.lng.l.Promo_code </div>
                        <div class="d-flex justify-content-between pt-3">
                            <div class="d-flex">
                                <input type="text" class="form-control border" placeholder="@bl.lng.l.Promo_code" id="promo_code" style="width: 200px;" value="@promo_code">
                                <button type="button" onclick="property.price_calculate();" class="btn btn-primary w-0"><i class="fas fa-search"></i> &nbsp; @bl.lng.l.Apply_2 </button>
                            </div>
                            <div class="align-self-center font-12" id="promo_code_price"> 0.00€ </div>
                        </div>
                    }

                    <!-- extra items -->
                    @*@if (obj.Tables["items"].Rows.Count > 1)
            {
                <div class="heading-title" id="div_panel_calendar"> Price types </div>
                <div class="rd-calendar-info py-2">
                    Plese choost what type of the price you prefere
                </div>
                <div class="d-flex justify-content-between pt-3">
                    <div class="d-flex flex-wrap gap-3" id="price_types_list">
                        @foreach (System.Data.DataRow r in obj.Tables["items"].Rows)
                        {
                            <div>
                                <button type="button" onclick="property.set_item_id('@r["item_id"]');" class="btn btn-primary w-0"> @r["name"] </button>
                            </div>
                        }
                    </div>
                </div>
            }*@
                    <div style="display: none;">
                        <!-- Price -->
                        <div class="heading-title"> Price </div>

                        <!-- Tabs -->
                        <article class="property_prices box_radio">

                            <!-- Table & btn -->
                            <div class="property_prices_box d-flex justify-content-between p-2 border-bottom">
                                <div>Cjenik 1</div>
                                <div>
                                    <div class="d-flex align-items-center gap-3">
                                        <div>100€</div>
                                        <label for="example_cjenik_01" class="custom_radio mb-0 tab_prices_btn">
                                            <input type="radio" id="example_cjenik_01" data-id="price_01" class="d-none" name="property_price" />
                                            <span class="icon_radio"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="property_prices_box d-flex justify-content-between p-2 border-bottom">
                                <div>Cjenik 2</div>
                                <div>
                                    <div class="d-flex align-items-center gap-3">
                                        <div>100€</div>
                                        <label for="example_cjenik_02" class="custom_radio mb-0 tab_prices_btn">
                                            <input type="radio" id="example_cjenik_02" data-id="price_02" class="d-none" name="property_price" />
                                            <span class="icon_radio"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="property_prices_box d-flex justify-content-between p-2 border-bottom">
                                <div>Cjenik 3</div>
                                <div>
                                    <div class="d-flex align-items-center gap-3">
                                        <div>100€</div>
                                        <label for="example_cjenik_03" class="custom_radio mb-0 tab_prices_btn">
                                            <input type="radio" id="example_cjenik_03" data-id="price_03" class="d-none" name="property_price" />
                                            <span class="icon_radio"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Content -->
                            <div>
                                <div id="price_01" class="tab_price_content border p-3 w-100 text_base mt-3 d-none">
                                    <div>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </div>
                                </div>
                                <div id="price_02" class="tab_price_content border p-3 w-100 text_base mt-3 d-none">
                                    <div>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                                    </div>
                                </div>
                                <div id="price_03" class="tab_price_content border p-3 w-100 text_base mt-3 d-none">
                                    <div>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>

                    <!-- additional text -->
                    <div id="div_additional_text">
                        <div class="heading-title" style="margin-bottom: 10px;"> @bl.lng.l.Additional_text </div>
                        <div class="rd-calendar-info py-2">

                            <!-- cancelation policy -->
                            <div id="addition_text_cancelation_policy_div" style="display: none;">
                                <div>
                                    <strong>
                                        @bl.lng.l.Cancelation_policy: &nbsp; <span class="text-regular" id="additional_text_canncelation_policy_name"> </span>
                                    </strong>
                                </div>
                                <div id="additional_text_canncelation_policy_text">
                                    @bl.lng.l.Text
                                </div>
                            </div>

                            <!-- cancelation policy -->
                            <div id="addition_text_cancelation_policy_payment_div" style="display: none;">
                                <div class="mt-lg-3">
                                    <strong>
                                        @bl.lng.l.Payment_policy:
                                    </strong>
                                </div>
                                <div id="addition_text_cancelation_policy_payment_text">
                                    @bl.lng.l.Text
                                </div>
                            </div>

                            <!-- price include  -->
                            <div id="addition_text_price_include_div" style="display: none;">
                                <div class="mt-lg-3">
                                    <strong>
                                        @bl.lng.l.Price_include
                                    </strong>
                                </div>
                                <div id="additional_text_price_include_text">
                                    @bl.lng.l.Price_include
                                </div>
                            </div>

                            <!-- price not include  -->
                            <div id="addition_text_price_note_include_div" style="display: none;">
                                <div class="mt-lg-3">
                                    <strong>
                                        @bl.lng.l.Price_not_include
                                    </strong>
                                </div>
                                <div id="additional_text_price_note_include_text">
                                    @bl.lng.l.Price_not_include
                                </div>
                            </div>

                            <!-- price note  -->
                            <div id="addition_text_price_note_div" style="display: none;">
                                <div class="mt-lg-3">
                                    <strong>
                                        @bl.lng.l.Additional @bl.lng.l.Price_note.ToLower()
                                    </strong>
                                </div>
                                <div id="addition_text_price_note_text">
                                    @bl.lng.l.Price_note
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- items -->
                    <div style="display: none;" class="heading-title"> @bl.lng.l.Items </div>
                    <div style="display: none;" id="div_items_main"></div>
                    <div style="display: none !important;" class="d-flex justify-content-between py-2 font-12" style="border-top: 2px solid #dddddd; font-weight: 600;">
                        <div> @bl.lng.l.Total_price:  </div>
                        <div id="div_main_sum_total">  </div>
                    </div>

                    <!-- book now -->
                    <div id="div_book_now" style="display: none;">
                        <div class="heading-title" style="margin-bottom: 10px;"> @bl.lng.l.Book_Now </div>
                        <div class="rd-calendar-book-now">
                            <div class="heading d-flex justify-content-between">
                                <div class="rd-calendar-book-now-label">@obj.Tables["general"].Rows[0]["name"]</div>
                                @*<div class="rd-calendar-book-now-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>*@
                            </div>
                            <div class="body d-flex justify-content-between flex-wrap pt-3">
                                <div class="rd-calendar-book-now-date">
                                    <div class="d-flex">
                                        <div class="rd-calendar-book-now-date-item">
                                            <label> @bl.lng.l.From.ToUpper() </label>
                                            <span class="font-weight-light" id="calendar_book_display_date_from" style="font-size: small;"> - </span>
                                        </div>
                                        <div class="rd-calendar-book-now-date-item">
                                            <label>&nbsp;</label>
                                            <i class="fas fa-arrow-right"></i>
                                        </div>
                                        <div class="rd-calendar-book-now-date-item">
                                            <label> @bl.lng.l.To.ToUpper() </label>
                                            <span class="font-weight-light" id="calendar_book_display_date_until" style="font-size: small;"> - </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rd-calendar-book-now-value" style="display: none;">
                                    <label> @bl.lng.l.Total.ToUpper() </label>
                                    <span id="calendar_book_display_price_total" class="font-weight-light"> - </span>&nbsp; <span id="calendar_book_display_price_currency_label" class="font-weight-light"> € </span>
                                </div>
                                <div class="rd-calendar-book-now-btn">
                                    <a onclick="property.got_to_payment();" class="btn btn-primary btn-effect"> @bl.lng.l.Book_Now  </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- not available -->
                    <div id="div_not_available" style="display: none;">
                        <div class="heading-title" style="margin-bottom: 10px;"> @bl.lng.l.Not_available </div>
                        <div class="fp-booked-all" style="padding: 14px; text-transform: uppercase; font-weight: 700;">
                            <div class="heading d-flex justify-content-between">
                                <div class="rd-calendar-book-now-label"> @bl.lng.l.The_period_is_not_available_for_booking </div>
                                <div class="rd-calendar-book-now-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- minimum stay -->
                    <div id="div_minimum_stay" style="display: none;">
                        <div class="heading-title" style="margin-bottom: 10px;"> @bl.lng.l.Not_available </div>
                        <div class="fp-booked-all" style="padding: 14px; text-transform: uppercase; font-weight: 700;">
                            <div class="heading d-flex justify-content-between">
                                <div class="rd-calendar-book-now-label"> @bl.lng.l.Minimum_stay_is <span id="span_min_stay">  </span> @bl.lng.l.nights </div>
                                <div class="rd-calendar-book-now-stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Reviews -->
                <div class="rd-reviews pt-3" style="display: @( obj.Tables["reviews"].Rows.Count > 0 ? "inherit" : "none")">
                    @*<div class="rd-reviews-label">Reviews</div>*@
                    <div class="heading-wrapper">
                        <div class="heading-title">@bl.lng.l.Reviews</div>
                        <div class="rd-reviews-value ml-auto align-self-end pb-2">
                            <i class="fas fa-star pr-2"></i><span>5.0</span>
                        </div>
                        @*<div class="heading-sub">- Total: @obj.Tables["reviews"].Rows.Count </div>*@
                    </div>

                    @{
                        float review_accuracy = 5.0f;
                        float review_communication = 5.0f;
                        float review_cleanliness = 5.0f;
                        float review_location = 5.0f;
                        float review_check_in = 5.0f;
                        float review_value = 5.0f;
                    }

                    <!-- Reviews total -->
                    <div class="d-flex flex-wrap py-2">
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Accuracy</div>
                            <div class="rd-reviews-item-value">
                                <span class="line"></span><span>@review_accuracy.ToString("N1")</span>
                            </div>
                        </div>
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Communication</div>
                            <div class="rd-reviews-item-value">
                                <span class="line"></span><span>@review_communication.ToString("N1")</span>
                            </div>
                        </div>
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Cleanliness</div>
                            <div class="rd-reviews-item-value">
                                <span class="line"></span><span>@review_cleanliness.ToString("N1")</span>
                            </div>
                        </div>
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Location</div>
                            <div class="rd-reviews-item-value">
                                <span class="line"></span><span>@review_location.ToString("N1")</span>
                            </div>
                        </div>
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Check_IN</div>
                            <div class="rd-reviews-item-value">
                                <span class="line"></span><span>@review_check_in.ToString("N1")</span>
                            </div>
                        </div>
                        <div class="rd-reviews-item">
                            <div class="rd-reviews-item-label">@bl.lng.l.Value</div>
                            <div class="rd-reviews-item-value">
                                @*<span class="line very-good"></span><span>@review_value.ToString("N1")</span>*@
                                <span class="line"></span><span>@review_value.ToString("N1")</span>
                            </div>
                        </div>
                    </div>

                    <!-- Add review -->
                    <div id="div_add_revew" style="display: none;">
                        <div class="heading-title">@bl.lng.l.Add_review</div>
                        <div class="rd-reviews-form my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="@bl.lng.l.Name_and_surname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="select-container">
                                            <div class="select_wrap" id="rd-reviews-country">
                                                <ul class="default_option">
                                                    <li class="position-relative">
                                                        <input type="text"
                                                               class="form-control select-input"
                                                               placeholder="" style="opacity: 0;">
                                                        <div class="selected-option">
                                                            <div data-id="1">@bl.lng.l.Country</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="select_ul">
                                                    <li class="option_li">
                                                        <div class="option">
                                                            <div data-id="1">---</div>
                                                        </div>
                                                    </li>
                                                    <li class="option_li">
                                                        <div class="option">
                                                            <div data-icon="2">
                                                                <img src="/assets/images/flags/hr.svg" />
                                                            </div>
                                                            <div data-id="2">@bl.lng.l.Croatia</div>
                                                        </div>
                                                    </li>
                                                    <li class="option_li">
                                                        <div class="option">
                                                            <div data-icon="2">
                                                                <img src="/assets/images/flags/de.svg" />
                                                            </div>
                                                            <div data-id="2">@bl.lng.l.German</div>
                                                        </div>
                                                    </li>
                                                    <li class="option_li">
                                                        <div class="option">
                                                            <div data-icon="2">
                                                                <img src="/assets/images/flags/hu.svg" />
                                                            </div>
                                                            <div data-id="2">@bl.lng.l.Hungary</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group d-flex flex-wrap">
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">@bl.lng.l.Accuracy</div>
                                            <div class="rd-reviews-form-stars" id="rate_accuracy">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">@bl.lng.l.Cleanliness</div>
                                            <div class="rd-reviews-form-stars" id="rate_cleanliness">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">
                                                @bl.lng.l.Check_IN
                                            </div>
                                            <div class="rd-reviews-form-stars" id="rate_checkIn">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">
                                                @bl.lng.l.Communication
                                            </div>
                                            <div class="rd-reviews-form-stars" id="rate_communication">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">
                                                @bl.lng.l.Location
                                            </div>
                                            <div class="rd-reviews-form-stars" id="rate_location">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="rd-reviews-form-label">
                                                @bl.lng.l.Value
                                            </div>
                                            <div class="rd-reviews-form-stars" id="rate_value">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" rows="3" placeholder="@bl.lng.l.comment..."></textarea>
                                </div>
                                <div class="col-12 pt-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary btn-effect" onclick="$('#div_add_revew').hide();">@bl.lng.l.Close</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary btn-effect text-uppercase">@bl.lng.l.Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-1">
                    </div>

                </div>

                <!-- Review Comments -->
                <div class="rd-comments" style="display: @( obj.Tables["reviews"].Rows.Count > 0 ? "inherit" : "none")">
                    <div class="heading-wrapper">
                        <div class="heading-title"> @bl.lng.l.Comments </div>
                        <div class="heading-sub ml-auto pb-2 align-self-end">@bl.lng.l.Total: @obj.Tables["reviews"].Rows.Count </div>
                    </div>

                    @foreach (System.Data.DataRow r in obj.Tables["reviews"].Rows) {
                        if (string.IsNullOrWhiteSpace(r["note_public"].ToString()) == false) {
                            <div class="rd-comments-item">
                                <div class="d-flex justify-content-between">
                                    <div class="rd-comments-guest" style="display: inline-flex; align-items: center;">

                                        @*<span class="line"></span>*@
                                        <div class="font-weight-bold"> @r["contact_name"]</div>


                                        <!-- flag -->
                                        @if (string.IsNullOrWhiteSpace(r["code2"].ToString()) == false) {
                                            <div style="padding-left: .5rem;">
                                                <img src="~/assets/images/flags/@(r["code2"].ToString()).svg" style="width: 1rem;" alt="">
                                            </div>
                                        }


                                    </div>
                                    <div class="rd-comments-rating">
                                        <span class="line"></span> &nbsp;
                                        <span> @decimal.Parse(r["rating_average"].ToString()).ToString("n2") </span>
                                    </div>
                                </div>

                                <!-- review -->
                                <div class="rd-comments-text">
                                    @r["note_public"]
                                </div>

                                <div style="display:flex; align-items: center; justify-content: flex-end;">

                                    <div style="padding-right: 5px;">
                                        <img src="~/assets/images/portals/icon-light/airbnb.png" style="height: 15px;" />
                                    </div>

                                    <!-- review datae -->
                                    @if (string.IsNullOrWhiteSpace(r["date"].ToString()) == false) {
                                        <div class="rd-comments-date">
                                            @bl.lng.l.Date: &nbsp;
                                            @DateTime.Parse(r["date"].ToString()).ToString("yyyy-MM-dd")
                                        </div>
                                    }

                                </div>



                                @if (string.IsNullOrWhiteSpace(r["note_owner"].ToString()) == false) {
                                    <div class="rd-reply">
                                        <div class="rd-reply-label">Reply:</div>
                                        <div class="rd-reply-owner">Ana J.</div>
                                        <div class="rd-reply-text"> @r["note_owner"] </div>
                                    </div>
                                }

                            </div>
                            <hr class="m-0">
                        }

                    }
                </div>

                <!-- Location -->
                <div class="heading-title mb-3"> @bl.lng.l.Location </div>
                <div class="rd-contact py-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="rd-contact-label" style="margin-top: -10px; margin-left: -8px;">
                                <i class="fas fa-map-marker-alt"></i> &nbsp;
                                @obj.Tables["general"].Rows[0]["adress"], @obj.Tables["general"].Rows[0]["city_zip"] @obj.Tables["general"].Rows[0]["city_name"], @obj.Tables["general"].Rows[0]["country"]
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rd-map" class="rd-map"></div>

                <hr class="mt-1">

                <!-- contact us -->
                @*@Html.Partial("/Views/partal/contact_us.cshtml", new ViewDataDictionary { { "object_id", object_id } })*@

                <!-- Owner contact -->
                <div style="display: none;" class="heading-title"> @bl.lng.l.Contacts_details </div>
                <div style="display: none;" class="rd-contact py-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="rd-contact-label">
                                <i class="far fa-address-book"></i> &nbsp;
                                @obj.Tables["general"].Rows[0]["contact_name"]
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rd-contact-label">
                                <i class="fas fa-fax pr-2"></i> Geo: @obj.Tables["general"].Rows[0]["latitude"], @obj.Tables["general"].Rows[0]["longitude"]
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rd-contact-label">
                                <i class="fas fa-phone pr-2"></i><a href="tel: @obj.Tables["general"].Rows[0]["contact_telephone"]"> @obj.Tables["general"].Rows[0]["contact_telephone"] </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rd-contact-label">
                                <i class="fas fa-envelope pr-2"></i><a href="mailto: @obj.Tables["general"].Rows[0]["contact_email"]"> @obj.Tables["general"].Rows[0]["contact_email"]  </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Social media -->
                @*@if (share_buttons_show == "N")
        {
            <div class="heading-title"> @bl.lng.l.Share__social_media </div>
            <div class="pt-3">
                @Html.Partial("/Views/users/partal/social_media_buttons.cshtml")
            </div>
        }*@

            </div>

            <!-- Book details  -->
            <div class="col-lg-4">
                <div class="card rent-details">
                    <div class="wrapper">
                        <div class="loading" id="div_loading_calendar_small" style="display: none;">
                            <div class="icon"><img src="/assets/images/icons/spinner.gif" alt=""></div>
                        </div>
                        <div class="card-main">
                            <div class="card-main-stars d-none">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                                <div class="card-main-wrapper position-relative price_night_center">
                                    <div style="display: flex; width: 100%; justify-content:center; font-size: 24px; font-weight: bold; margin-bottom: 24px;">Zaggy Space</div>
                                    <div class="card-main-value pl-2" style="display: none!important;">
                                        <span id="price_per_night_price">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                        <span id="price_per_night_currency_label">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </div>
                                    <div style="display: none!important;" class="card-main-p">
                                        <span>
                                            @bl.lng.l.Night
                                        </span>
                                    </div>
                                </div>
                                <div class="card-main-wrapper position-relative d-none">
                                    <div class="card-main-value pr-2">
                                        <span id="price_per_night_person_price">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                        <span id="price_per_night_person_currency_label">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </div>
                                    <div class="card-main-p">
                                        <span>
                                            @bl.lng.l.Person.ToLower()
                                        </span>
                                    </div>
                                    <hr>
                                </div>
                               
                            </div>
                        </div>
                        <div class="card-body pt-0">

                            <!-- calendar -->
                            <div class="card-body-item calendar" id="rd-flatpickr" style="margin-top: -15px;"></div>

                            <!-- item price -->
                            @if (obj.Tables["items"].Rows.Count > 1) {
                                <div class="card-body-item dropdown">
                                    <div class="dropdown" id="dropdown_items">
                                        <i class="fas fa-grip-vertical mr-4"></i>
                                        <div class="btn dropdown-toggle" data-children-id="1" type="button" id="dropdown_item_id" data-toggle="dropdown" style="padding-left: 30px !important;"
                                             contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="-1">
                                            @bl.lng.l.Standard
                                        </div>
                                        <div class="dropdown-menu w-100 rounded-0" aria-labelledby="dropdownMenuButton">
                                            @foreach (System.Data.DataRow r in obj.Tables["items"].Rows) {
                                                <a data-id="@r["item_id"]" class="dropdown-item py-2" onclick="property.set_item_id('@r["item_id"]');">
                                                    <i class="fas fa-grip-vertical mr-4" style="margin-top: -3px;"></i> &nbsp; @r["name"]
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row m-0" style="display: none;">
                                <div class="col-4 px-1">
                                    <!--  adults -->
                                    <div class="card-body-item dropdown flex-grow-1 m-1">
                                        <div class="dropdown" id="dropdown_adults">
                                            <i class="fas fa-user mr-4"></i>
                                            <div class="btn dropdown-toggle" data-children-id="1" type="button" id="dropdown_adult_id" data-toggle="dropdown" style="padding-left: 30px !important;"
                                                 contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="@adults">
                                                @adults
                                            </div>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" style="min-width: unset;">
                                                @for (int i = 1; i <= persons; i++) {
                                                    <a data-id="@i" class="dropdown-item">@i</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 px-1">
                                    <!--  children -->
                                    <div class="card-body-item dropdown flex-grow-1 m-1">
                                        <div class="dropdown" id="dropdown_children">
                                            <i class="fas fa-child"></i>
                                            <div class="btn dropdown-toggle" data-children-id="1" type="button" id="dropdown_children_left" data-toggle="dropdown" style="padding-left: 30px !important;"
                                                 contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="@pets">
                                                @pets
                                            </div>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" style="min-width: unset;">
                                                @for (int i = 1; i <= 5; i++) {
                                                    <a data-id="@i" class="dropdown-item">@i</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 px-1">
                                    <!--  pets -->
                                    <div class="card-body-item dropdown flex-grow-1 m-1">
                                        <div class="dropdown" id="dropdown_pets">
                                            <i class="fas fa-dog"></i>
                                            <div class="btn dropdown-toggle" data-children-id="1" type="button" id="dropdown_pets_left" data-toggle="dropdown" style="padding-left: 30px !important;"
                                                 contenteditable="true" aria-haspopup="true" aria-expanded="false" data-id="@pets">
                                                @pets
                                            </div>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton" style="min-width: unset;">
                                                @for (int i = 1; i <= 5; i++) {
                                                    <a data-id="@i" class="dropdown-item">@i</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body-item pt-2 pb-3">
                                <div id="div_items_extra" class="hidden">
                                    <hr class="m-0" />
                                </div>
                                <div style="display: none!important;" class="d-flex justify-content-between total py-2">
                                    <div class="card-body-item-label"> @bl.lng.l.Total </div>
                                    <div class="card-body-item-value"><span id="price_total_price"> - </span>&nbsp; <span id="price_total_currency_label"> € </span> </div>
                                </div>
                                <hr class="m-0">
                            </div>

                            <!-- make reservation -->
                            <div id="div_right_book_now" class="card-body-btns d-flex mb-3">
                                <button id="btnExtraPrice" class="btn btn-primary btn-effect mr-2" style="width: 2.5rem; display: none;" onclick="property.price_calculate();"><i class="fas fa-search"></i></button>
                                <a onclick="property.got_to_payment();" class="btn btn-primary btn-effect"> @bl.lng.l.Make_reservation </a>
                            </div>

                            @if (bl.sys.html.is_checked(lowest_price_guarantee)) 
                             {
                                <!-- Button trigger modal -->
                                <button type="button" class="btn border text-white d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#modal_lowest_price">
                                    <i class="fas fa-percentage"></i>
                                    <div class="pl-2"> @bl.lng.l.Lowest_price_guarantee </div>
                                </button>
                             } 

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="modal_lowest_price" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lowest price guarantee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                When you book your reservation on our website you can be confident you've received the best rate for your booking.
                For each reservation through our website we guarantee the lowest online price. If you find a lower price anywhere on the Internet, within 24 hours of making your booking, we will match that price and give you an additional 5% discount.
                In order to claim your right, please contact us.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- templates -->
<div>

    <template id="template_price_item_extra">
        <div class="d-flex justify-content-between py-2">
            <div class="card-body-item-label"> ${name} </div>
            <div class="card-body-item-value"><span>  ${price} </span>&nbsp; ${currency_label} </div>
        </div>
        <hr>
    </template>

    <!-- itmes -->
    <template id="template_item_long">
        <div class="d-flex justify-content-between py-2">
            <div> ${name} </div>
            <div> ${price} &nbsp; ${currency_label} </div>
        </div>
        <hr class="m-0" />
    </template>

    <!-- price types -->
    <template id="template_price_type_button">
        <div>
            <button type="button" onclick="property.set_item_id('${item_id}');" class="btn btn-primary w-0"> ${item_name}: ${price_period_b2b} ${currency_lable} </button>
        </div>
    </template>

</div>

<!-- scripts -->
<script>

    var property = {};

    property.calendar_book_dates = [];
    property.calendar_date_from = '@date_from';
    property.calendar_date_until = '@date_until';
    property.price_sum = [];
    property.object_id = '@object_id';
    property.item_id = '-1';
    property.price_calculate = {};

    // SHow/Hide extra price
    let btnExtraPrice = document.getElementById("btnExtraPrice");
    let itemExtraPrice = document.getElementById("div_items_extra");

    btnExtraPrice.addEventListener("click", function () {
        if (!itemExtraPrice.classList.contains("active")) {
            itemExtraPrice.classList.add("active");
            itemExtraPrice.classList.remove("hidden");
            btnExtraPrice.classList.add("rotate-180");
        } else {
            itemExtraPrice.classList.remove("active");
            itemExtraPrice.classList.add("hidden");
            btnExtraPrice.classList.remove("rotate-180");
        }
    });

    window.addEventListener('load', (event) => {
        property.calendar_set();

        // set rates
        property.rate_set();

        // load map
        property.load_map();

        // dropdown
        fr.dropdown('dropdown_adults');
        fr.dropdown('dropdown_pets');
        fr.dropdown('dropdown_children');

        if (document.getElementById('dropdown_items') != null) {
            fr.dropdown('dropdown_items');
        }

        // calculate price
        property.price_calculate();

        // set object_id for contact_us
        contact_us.object_id = '@object_id';

    });

    // load map
    property.load_map = function () {

        // set get data
        var lng = @obj.Tables["general"].Rows[0]["longitude"];
        var lat = @obj.Tables["general"].Rows[0]["latitude"];

        // Location map
        var map = L.map('rd-map').setView([lat, lng], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://zaggy.hr">zaggy</a>'
        }).addTo(map);

        // add marker
        L.marker([lat, lng]).addTo(map).openPopup();
    }

    property.got_to_payment = function () {

        div_loading_calendar_small.style.display = 'flex';
        div_loading_calendar_big.style.display = 'flex';

        var adults = input_adults.value;
        var pets = input_pets.value;
        var children = input_children.value;
        var promo_code_value = document.getElementById('promo_code') != null ? document.getElementById('promo_code').value : '';

        // open final page
        location.href = '/objects/payment/@object_id?date_from=' + property.calendar_date_from + '&date_until=' + property.calendar_date_until + '&item_id=' + property.item_id + '&persons=' + adults + '&children=' + children + '&pets=' + pets + '&promo_code=' + promo_code_value;

    }

    property.rate_set = function () {
        //fr.rate_stars('rate_accuracy');
        //fr.rate_stars('rate_cleanliness');
        //fr.rate_stars('rate_checkIn');
        //fr.rate_stars('rate_communication');
        //fr.rate_stars('rate_location');
        //fr.rate_stars('rate_value');
    }

    // set current id_id
    property.set_item_id = (id) => {
        property.item_id = id;
        property.price_calculate();
    }

    var day_before_booked = false;

    // set calenadr datepiceker
    property.set_rd_calendar = function () {

        // Calendar on content
        $("#rd-calendar").datepicker({
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            minDate: 0,
            numberOfMonths: 2,
            defaultDate: new Date('@date_from'),

            // mark blocke or selected days
            beforeShowDay: function (date) {

                var d = js.date.toIsoFormat(date);
                var include = property.calendar_book_dates.includes(d);
                var day_current = (d == property.calendar_date_from);
                var css = '';

                // mark selected days
                if (!property.calendar_date_until == false) {

                    // check if date is in select dates
                    var v = js.date.if_day_is_between(property.calendar_date_from, property.calendar_date_until, date);

                    if (day_current == true) {
                        css = 'fp-select-all';
                        return [true, css];
                    }

                    else if (v == true) {
                        css = 'fp-select-all';
                        return [true, css];
                    }

                    else {
                        return mark_blok_day();
                    }

                }

                // mark normal blok days
                else {
                    return mark_blok_day();
                }

                // mark blokec day
                function mark_blok_day() {

                    if (include == true) {

                        if (day_before_booked == true) {
                            css = 'fp-booked-all';
                        }

                        else {
                            css = 'fp-booked-first';
                        }

                        day_before_booked = true;

                    }

                    else {

                        if (day_before_booked == true) {
                            css = 'fp-booked-last';
                        }

                        day_before_booked = false;

                    }

                    return [true, css];

                }

            },

            // handle on click
            onSelect: function (date) {

                if (!property.calendar_date_until == false) {
                    property.calendar_date_from = date;
                    property.calendar_date_until = null;
                    $("#rd-check-in").datepicker("setDate", date);
                    $("#rd-check-out").datepicker("setDate", null);
                }

                else if (!property.calendar_date_from == true) {
                    property.calendar_date_from = date;
                    $("#rd-check-in").datepicker("setDate", date);
                }

                else {
                    property.calendar_date_until = date;
                    $("#rd-check-out").datepicker("setDate", date);

                    property.price_calculate();
                }

                property.set_rd_flatpickr();
            }
        });

    }
    
    // set calendar flat picker
    property.set_rd_flatpickr = function () {

        // flatpickr calendar
        flatpickr("#rd-flatpickr", {
            inline: true,
            mode: "range",
            minDate: "today",

            defaultDate: [property.calendar_date_from, property.calendar_date_until],
            locale: {
                firstDayOfWeek: 1
            },

            onDayCreate: function (dObj, dStr, fp, dayElem) {

                var day = js.date.toIso(dayElem.dateObj);
                var include = property.calendar_book_dates.includes(day);

                if (include == true) {

                    if (day_before_booked == true) {
                        dayElem.classList.add('fp-booked-all');
                    }

                    else {
                        dayElem.classList.add('fp-small-booked-first');
                    }

                    dayElem.innerHTML += "<span class='event busy'></span>"; 4
                    day_before_booked = true;

                }
                else {

                    if (day_before_booked == true) {
                        dayElem.classList.add('fp-small-booked-last');
                    }

                    dayElem.innerHTML += "<span class='event'></span>";
                    day_before_booked = false;

                }

            },

            onClose: function (selectedDates, dateStr, instance) {

                var date_from = js.date.toIso(selectedDates[0]);
                var date_until = js.date.toIso(selectedDates[1]);
                property.calendar_date_from = date_from;
                property.calendar_date_until = date_until;
                property.price_calculate();

                $("#rd-calendar").datepicker('refresh');
            }
        });
    }

    // set calendar
    property.calendar_set = function () {
        var url = 'https://api.zaggy.net/objects/days_blocked/@object_id';
        $.getJSON(url, function (data) {

            property.calendar_book_dates = data;
            property.set_rd_calendar();
            property.set_rd_flatpickr();
        });
    }

    // calculate price
    property.price_calculate = async function () {

        div_loading_calendar_small.style.display = 'flex';
        div_loading_calendar_big.style.display = 'flex';

        var adults = input_adults.value;
        var pets = input_pets.value;
        var children = input_children.value;

        var item_id = property.item_id; // dropdown_item_id.dataset.id;
        var promo_code_value = document.getElementById('promo_code') != null ? document.getElementById('promo_code').value : '';

        var url = '/api/objects_prices_days/price_calculation_b2b/@object_id?from=' + property.calendar_date_from + '&until=' + property.calendar_date_until + '&adults=' + adults + '&children=' + children + '&pets=' + pets + '&item_id=' + item_id + '&b2b_id=@bl.B2B.Web.shared.b2b_id&promo_code=' + promo_code_value;

        var data = await js.http.async.get_json(url);

        property.price_sum = data;
        property.price_dispaly();

        div_loading_calendar_small.style.display = 'none';
        div_loading_calendar_big.style.display = 'none';

        //var elmnt = document.getElementById("div_panel_calendar");
        //elmnt.scrollIntoView();

        var enable = property.price_sum["sum"][0]["enable"];
        var days = property.price_sum["sum"][0]["days"];
        let min_stay = property.price_sum["sum"][0]["min_stay"];
        let is_booked = property.price_sum["sum"][0]["period_booked_without_min_stay"];

        if (enable == "Y") {
            div_book_now.style.display = 'block';
            div_right_book_now.style.display = 'block';
            div_not_available.style.display = 'none';
            div_minimum_stay.style.display = 'none';
        }
        else if (is_booked == "N" && min_stay > days) {
            div_book_now.style.display = 'none';
            div_not_available.style.display = 'none';
            div_right_book_now.style.setProperty('display', 'none', 'important');
            div_minimum_stay.style.display = 'block';
            span_min_stay.innerHTML = min_stay;
        }
        else {
            div_minimum_stay.style.display = 'none';
            div_book_now.style.display = 'none';
            div_right_book_now.style.setProperty('display', 'none', 'important');
            div_not_available.style.display = 'block';
        }

        // show extra price
        var url = '/api/objects_prices_days/object_period_prices_list/@object_id?date_from=' + property.calendar_date_from + '&date_until=' + property.calendar_date_until + '&adults=' + adults + '&children=' + children + '&pets=' + pets;
        var prices_list = await js.http.async.get_json(url);

        // price_types_list.innerHTML = '';
        //for (var r of prices_list) {
        //    var item_name = r['item_name'];
        //    var currency_lable = r['currency_lable'];
        //    var price_period_b2b = r['price_period_b2b'];
        //    var item_id = r['item_id'];
        //    var t = template_price_type_button.innerHTML;
        //    t = t.replaceAll('${item_id}', item_id);
        //    t = t.replaceAll('${price_period_b2b}', Number(price_period_b2b).toFixed(2));
        //    t = t.replaceAll('${item_name}', item_name);
        //    t = t.replaceAll('${currency_lable}', currency_lable);
        //    js.html.insertAdjacentHTML('price_types_list', t);
        //}

    }

    // disply price
    property.price_dispaly = function () {

        var display_additionl_text = false;
        div_items_extra.innerText = '';
        div_items_main.innerHTML = '';

        var price_b2b = Number(property.price_sum["sum"][0]["price_b2b"]);
        var full_price_b2b = Number(property.price_sum["sum"][0]["full_price_b2b"]);
        var currency_label = property.price_sum["sum"][0]["currency_label"];
        var item_name = property.price_sum['general'][0]['item_name'];

        var nights = Number(property.price_sum['general'][0]['days']);

        calendar_book_display_date_from.innerText = property.calendar_date_from;
        calendar_book_display_date_until.innerText = property.calendar_date_until;

        var t = template_price_item_extra.innerHTML.trim();

        t = t.replace('${price}', price_b2b.toFixed(2));
        t = t.replace('${currency_label}', currency_label)

        if (nights > 1) {
            t = t.replace('${name}', item_name + ':' + '&nbsp;&nbsp;' + property.price_sum['general'][0]['days'] + ' @bl.lng.l.nights.ToLower()');
        }
        else {
            t = t.replace('${name}', item_name + ':' + '&nbsp;&nbsp;' + property.price_sum['general'][0]['days'] + ' @bl.lng.l.Night.ToLower()');
        }


        t = template_item_long.innerHTML.trim();
        t = t.replace('${price}', price_b2b.toFixed(2));
        t = t.replace('${currency_label}', currency_label);

        if (nights > 1) {
            t = t.replace('${name}', item_name + ':' + '&nbsp;&nbsp;' + property.price_sum['general'][0]['days'] + ' @bl.lng.l.nights.ToLower()');
        }
        else {
            t = t.replace('${name}', item_name + ':' + '&nbsp;&nbsp;' + property.price_sum['general'][0]['days'] + ' @bl.lng.l.Night.ToLower()');
        }

        div_items_extra.insertAdjacentHTML('beforeend', t);
        div_items_main.insertAdjacentHTML('beforeend', t);

        // prices
        for (i in property.price_sum.items_auto) {

            var r = property.price_sum.items_auto[i];
            if (Number(r['discount_total']) != 0) {

                // left side
                t = template_price_item_extra.innerHTML.trim();
                t = t.replace('${name}', r['name']);
                t = t.replace('${price}', Number(r['full_price']).toFixed(2));
                t = t.replace('${currency_label}', r['label']);
                div_items_extra.insertAdjacentHTML('beforeend', t);

                // main items
                t = template_item_long.innerHTML.trim();
                t = t.replace('${name}', r['name']);
                t = t.replace('${price}', Number(r['full_price']).toFixed(2));
                t = t.replace('${currency_label}', r['label']);
                div_items_main.insertAdjacentHTML('beforeend', t);
            }

        }


        // promo code
        for (var pc of property.price_sum.promo_codes) {

            var price_percent = pc['price_percent'];
            var price_fix = pc['price_fix'];
            var price = price_b2b * (price_percent / 100) + price_fix;

            // display promo code
            promo_code_price.innerHTML = `<span style="margin-right: 20px;"> ${pc['name']}: </span>  ${Number(price).toFixed(2)} ${currency_label}  `;

            // left side
            t = template_price_item_extra.innerHTML.trim();
            t = t.replace('${name}', pc['name']);
            t = t.replace('${price}', Number(price).toFixed(2));
            t = t.replace('${currency_label}', currency_label);
            div_items_extra.insertAdjacentHTML('beforeend', t);

            // main items
            t = template_item_long.innerHTML.trim();
            t = t.replace('${name}', pc['name']);
            t = t.replace('${price}', Number(price).toFixed(2));
            t = t.replace('${currency_label}', currency_label);
            div_items_main.insertAdjacentHTML('beforeend', t);

        }

        // cencalation policy
        var cancelation_policy_text = property.price_sum['price_settings'][0]['cancellation_policies_note'];
        if (!cancelation_policy_text == false) {
            display_additionl_text = true;
            addition_text_cancelation_policy_div.style.display = 'block';
            additional_text_canncelation_policy_name.innerHTML = property.price_sum['price_settings'][0]['cancellation_policies_name'];
            additional_text_canncelation_policy_text.innerHTML = cancelation_policy_text;
        }
        else {
            addition_text_cancelation_policy_div.style.display = 'none';
        }

        //  pament policy
        var cancellation_policies_payment_policy_text = property.price_sum['price_settings'][0]['cancellation_policies_payment_policy'];
        if (!cancellation_policies_payment_policy_text == false) {
            display_additionl_text = true;
            addition_text_cancelation_policy_payment_div.style.display = 'block';
            addition_text_cancelation_policy_payment_text.innerHTML = cancellation_policies_payment_policy_text;
        }
        else {
            addition_text_cancelation_policy_payment_div.style.display = 'none';
        }

        // pricec include
        var objects_prices_price_inculde = property.price_sum['price_settings'][0]['objects_prices_price_inculde'];
        if (!objects_prices_price_inculde == false) {
            display_additionl_text = true;
            addition_text_price_include_div.style.display = 'block';
            additional_text_price_include_text.innerHTML = objects_prices_price_inculde;
        }
        else {
            addition_text_price_include_div.style.display = 'none';
        }

        // price not include
        var objects_prices_price_note_inculde = property.price_sum['price_settings'][0]['objects_prices_price_not_inculde'];
        if (!objects_prices_price_note_inculde == false) {
            display_additionl_text = true;
            addition_text_price_note_include_div.style.display = 'block';
            additional_text_price_note_include_text.innerHTML = objects_prices_price_note_inculde;
        }
        else {
            addition_text_price_note_include_div.style.display = 'none';
        }

        // addition_text_price_note_div
        var objects_prices_price_note = property.price_sum['price_settings'][0]['objects_prices_note'];
        if (!objects_prices_price_note == false) {
            display_additionl_text = true;
            addition_text_price_note_div.style.display = 'block';
            addition_text_price_note_text.innerHTML = objects_prices_price_note;
        }
        else {
            addition_text_price_note_div.style.display = 'none';
        }

        if (display_additionl_text == false) {
            div_additional_text.style.display = 'none';
        }
        else {
            div_additional_text.style.display = 'block';
        }

        var price_per_day = full_price_b2b / nights;
        var price_per_day_person = price_per_day / dropdown_adult_id.dataset.id;

        price_per_night_currency_label.innerText = property.price_sum["sum"][0]["currency_label"];
        price_per_night_price.innerText = price_per_day.toFixed(2);

        price_per_night_person_price.innerText = price_per_day_person.toFixed(2);
        price_per_night_person_currency_label.innerText = property.price_sum["sum"][0]["currency_label"];
        
        price_total_currency_label.innerText = property.price_sum["sum"][0]["currency_label"];
        price_total_price.innerText = full_price_b2b.toFixed(2);

        calendar_book_display_price_currency_label.innerText = property.price_sum["sum"][0]["currency_label"];
        calendar_book_display_price_total.innerText = full_price_b2b.toFixed(2);

        div_main_sum_total.innerHTML = full_price_b2b.toFixed(2) + ' ' + property.price_sum["sum"][0]["currency_label"];
    }

    property.tabs_content = function () {


    }
        const prices = document.querySelector(".property_prices");
        const btns = document.querySelectorAll(".tab_prices_btn");
        const contents = document.querySelectorAll(".tab_price_content");
        const boxs = document.querySelectorAll(".property_prices_box");

        prices.addEventListener("click", (e) => {

            // Fetch ID by clicking
            let id = e.target.dataset.id;

            // Check
            if (id) {

                // Remove all active
                boxs.forEach(box => {

                    box.classList.remove("active");

                });

                // Reset all hidden
                contents.forEach(item => {

                    item.classList.add("d-none");

                });

                e.target.parentElement.parentElement.parentElement.parentElement.classList.add("active");

                // Get ID from content
                let element = document.getElementById(id);

                // Show content
                element.classList.remove('d-none');

            }

        });

    // Lightbox - gallery
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

</script>
