@{
    var r = (System.Data.DataRow)ViewData["object_detail"];
    var date_from = string.IsNullOrWhiteSpace(ViewData["date_from"].ToString()) == true ? System.DateTime.Now.ToString("yyyy-MM-dd") : ViewData["date_from"].ToString();
    var date_until = string.IsNullOrWhiteSpace(ViewData["date_until"].ToString()) == true ? System.DateTime.Now.AddDays(1).ToString("yyyy-MM-dd") : ViewData["date_until"].ToString();
    var adults = string.IsNullOrWhiteSpace(ViewData["adults"].ToString()) == true ? "1" : ViewData["adults"].ToString();

    // Discount percent
    var discount = decimal.Parse(r["discount"].ToString());
    var object_period_price = decimal.Parse(r["object_period_price"].ToString());
    int discount_percent = 0;
    decimal price_total = decimal.Parse(r["price_total"].ToString());

    // Calculate percent if discount exist
    if (Math.Abs(discount) > 0.001m && Math.Abs(object_period_price) > 0.001m)
    {
        var disc_decimal = Math.Round(100 * (discount / object_period_price), 2, MidpointRounding.AwayFromZero);
        discount_percent = (int)Math.Abs(disc_decimal);
    }
}

<div class="col-md-6 col-lg-4">
    <div class="card">
        <a href="/objects/property/?id=@r["id"]&date_from=@date_from&date_until=@date_until&adults=@adults" class="img-effect" target="_blank">
            @*<div class="card-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>*@

            @*<div class="card-notice">Best Seller</div>
                <div class="card-discount">-20%</div>*@
            @*<div class="card-rating">4.8</div>*@

            <div class="card-img card-img-effect">
                @if (r["picture_url_amazon"].ToString().IsEmpty() == true)
                {
                    <img src="https://zaggypictures.s3.eu-central-1.amazonaws.com/no_picture/no_picture.png" class="img-fluid lazy" alt="Image of @r["object_name_web"]" style="object-fit: cover;">
                }
                else
                {
                    <img src="@r["picture_url_amazon"]" class="img-fluid lazy" alt="Image of @r["object_name_web"]" style="object-fit: cover;">
                }
            </div>

        </a>
        <div class="card-body">
            <div class="card-body-title">
                @r["object_name_web"]
            </div>
            <div class="card-body-info position-relative">

                @if (discount_percent > 0) {
                    <!-- Discount label -->
                    <div class="position-absolute right_0 top-0 pt-3">
                        <div class="position-relative" style="height:45px; width:45px;">
                            <img src="~/assets/images/icons/icon-discount.svg" class="position-absolute" style="width: 45px; height: 45px; right:0;" />
                            <span class="text-white" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"> -@discount_percent% </span>
                        </div>
                    </div>
                }

                <div class="card-body-info-item">
                    <i class="fas fa-angle-right pr-2"></i> <strong>@bl.lng.l.Occupancy:</strong>
                    <span> @r["objects_realestates_can_sleep_max"] </span>
                </div>

                @if (price_total != 0) {
                    <div class="card-body-info-item">
                        <i class="fas fa-angle-right pr-2"></i>
                        <strong>@bl.lng.l.Rate @bl.lng.l.From:</strong>
                        <span>
                            <span>
                                @price_total.ToString("n") @r["currency_label"]
                            </span>
                        </span>
                    </div>
                }

                <div class="card-body-info-item">
                    <i class="fas fa-angle-right pr-2"></i> <strong>@bl.lng.l.Beds:</strong>
                    <span>
                        @r["objects_realestates_beds"]
                    </span>
                </div>

                <div class="card-body-info-item">
                    <i class="fas fa-angle-right pr-2"></i> <strong>@bl.lng.l.Rooms:</strong>
                    <span>
                        @r["objects_realestates_bedrooms"]
                    </span>
                </div>
                <div class="card-body-info-item">
                    <i class="fas fa-angle-right pr-2"></i> <strong>@bl.lng.l.Location:</strong>
                    <span> @r["city_name"]</span>
                </div>
                <div class="card-body-info-item">
                    <i class="fas fa-angle-right pr-2"></i> <strong>@bl.lng.l.Type:</strong>
                    <span> @r["object_type_name"]</span>
                </div>
            </div>

            <div class="card-body-btns">
                <a href="/objects/property/?id=@r["id"]&date_from=@date_from&date_until=@date_until&adults=@adults" class="btn btn-primary btn-effect" target="_blank"> @r["object_type_name"] &nbsp; @bl.lng.l.Details</a>
            </div>

        </div>

    </div>

</div>
