@code {
    [Parameter] public System.Data.DataTable objects { get; set; }
}

<div class="card mb-3">

    <div class="card-header bg-dark">
        <h5 class="mb-0 text-white" id="account"> <i class="fas fa-home"></i> &nbsp; @lng.l.Properties</h5>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-lg-12 text-truncate" style="max-width:96%;overflow: auto;">

                <ul class="nav flex-lg-column fs--1">

                    @foreach (System.Data.DataRow r in objects.Rows)
                    {
                        <li class="nav-item me-2 me-lg-0 mb-1 ">

                            <div class="d-flex">

                                <div class="p-0 align-self-center">

                                    <a class="@((r["deleted"].ToString() == "Y" || r["active"].ToString() == "N") ? "nav-link nav-link-card-details bg-soft-danger text-danger":"nav-link nav-link-card-details" )" target="_blank" href="">

                                        <i class="fas fa-external-link-square-alt"></i>

                                        @if (r["instant"].ToString() == "Y")
                                        {
                                            <span class="ps-2"><i class="fas fa-bolt"></i></span>
                                        }
                                        else
                                        {
                                            <span class="ps-2"><i class="far fa-hand-paper"></i></span>
                                        }

                                    </a>

                                </div>

                                <div class="ps-2 flex-1">
                                    <a class=" @((r["deleted"].ToString() == "Y" || r["active"].ToString() == "N") ? "nav-link nav-link-card-details bg-soft-danger text-danger":"nav-link nav-link-card-details" )" href="/objects/details/@r["id_hash"]">
                                        @r["id"] | @r["name"]
                                    </a>
                                </div>

                            </div>

                        </li>
                    }

                </ul>

            </div>

        </div>

    </div>

</div>